<template name="updateTransactionForm">

  <div class="row" style="margin-top: 25px;">
    <!-- <div class="col s12"> -->
      {{formatDate this.transaction.date}}
      {{this.transaction.merchantAccount}}
      {{this.transaction.merchantReferenceNote}}
      &euro; {{this.transaction.amount}}
    <!-- </div> -->
  </div>

  <div class="row" style="margin-top: 25px;">
    <!-- <div class="col s12"> -->
      {{> afQuickField name="merchant"}}
    <!-- </div> -->
    <!-- <div class="col s12"> -->
      {{> afQuickField name="referenceNote"}}
    <!-- </div> -->
    <!-- <div class="col s12"> -->
      {{> afQuickField name="category"}}
    <!-- </div> -->
  </div>
</template>
